body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    overflow: hidden;
}

.gamecontainer {
    position: fixed;
    background-image: linear-gradient(rgb(15, 10, 35), rgb(45, 38, 73), rgb(15, 10, 35));
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.tank {
    background-image: url(tank.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    z-index: 1;
    position: absolute;
    top: 0;
    animation: tank 2s;
    /* animation-iteration-count: 10000; */
}

@keyframes tank {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 90deg;
    }

    75% {
        rotate: -90deg;
    }

    100% {
        rotate: 0deg;
    }


}

.game {

    height: 100px;
    background-color: red;
}

.fire {
    height: 80px;
    width: 80px;
    border-radius: 90px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.animatetank {

    animation: tank 2.7s reverse linear;
    animation-iteration-count: 10000;
}

@keyframes animatetank {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 90deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 360deg;
    }

}

.bullet {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 72px;
    left: 90px;
    animation: animatebullet 0.8s linear infinite;
    animation-delay: 2.5s;
    /* animation-duration: 1s; */
    /* animation-iteration-count: 1; */
}

@keyframes animatebullet {
    0% {
        left: 130px;
    }

    25% {
        left: 30vw;
    }

    50% {
        left: 50vw;
    }

    75% {
        left: 80vw;
    }

    100% {
        left: 100vw;
    }

}

.move {
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    width: 1000px;
    /* background-color: black; */
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: gray; */


}

.move1 {
    width: 75px;
    height: 35px;
    /* margin: 30px; */
    /* position:relative; */
    padding: 10px;
    /* justify -content: center; */
    text-align: center;
    font-size: 22px;
    /* position: absolute; */
    font-weight: 500;
    /* padding: 10px; */
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    /* margin-top: 10px ; */
    margin: 14px;
}

:hover.move1 {
    /* padding: 11px;
    margin: 11px; */
    background-color: rgb(206, 0, 0);
    color: rgb(255, 255, 255);

}

.animatedown {
    position: absolute;
    top: 10px;
}